@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<HotelChief.API.SharedResource> SharedLocalizer
@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
<h1 class="display-4">@Localizer["Welcome"]</h1>
</div>
<div class="text-left">
    

    @foreach (var paragraph in @Localizer["MainText"].Value.ToString().Split(new[] { "\r\n", "\r", "\n" }, StringSplitOptions.RemoveEmptyEntries))
    {
                <p>@paragraph</p>
    }
</div>

<style>
    body {
        font-family: Arial, sans-serif;
        line-height: 1.6;
    }

    h1, h2, h3, h4, h5, h6 {
        font-weight: bold;
    }
</style>
