<h2>Employee Productivity Report</h2>
<a asp-action="GenerateEmployeeProductivityReport">Generate Employee Productivity Report</a>

<h2>Popular Rooms Report</h2>
<a asp-action="GeneratePopularRoomsReport">Generate Popular Rooms Report</a>

<h2>Revenue Report</h2>
<a asp-action="GenerateRevenueReport">Generate Revenue Report</a>

<h2>Top Hotel Service Revenue Report</h2>
<a asp-action="GenerateTopHotelServiceRevenueReport">Generate Top Hotel Service Revenue Report</a>

<h2>Top Room Revenue Report</h2>
<a asp-action="GenerateTopRoomRevenueReport">Generate Top Room Revenue Report</a>