@using Microsoft.AspNetCore.Mvc.Localization;
@inject IHtmlLocalizer<HotelChief.API.SharedResource> SharedLocalizer
@using HotelChief.Infrastructure.EFEntities;
@using Microsoft.AspNetCore.Identity
@inject IConfiguration _config

<ul class="navbar-nav">
@if (User.Identity.IsAuthenticated)
{
    <li class="nav-item">
            <form class="form-inline" asp-area="" asp-controller="Home" asp-action="SignOut" )">
                <button type="submit" class="nav-link btn btn-link text-dark">@SharedLocalizer["Logout"]</button>
        </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" href=@_config["IdentityServerOrigin:RegisterAddress"]>@SharedLocalizer["Register"]</a>
    </li>
    <li class="nav-item">
            <a class="nav-link text-dark" href=@_config["IdentityServerOrigin:LoginAddress"]>@SharedLocalizer["Login"]</a>
    </li>
}
</ul>
