@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
@{ 
    if (Model.Message != null){
        <h2 class="text-danger">Exception of type @Model.Message has occured when processing your request.</h2>
    }
}
    <p>
        <strong>Please contact the administration.</strong> 
    </p>

